body {
  margin: 0;
  padding: 0;
  background-color: #eaeae3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-section {
  border: 2px solid #000;
}